[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = mloning
	email = markus.loning.17@ucl.ac.uk
[color]
	ui = auto
[core]
	autocrlf = true
	editor = vim
[push]
	default = simple
